<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Catalogo</title>
    <link rel="stylesheet" href="css\catalogo.css" />
    <script src="https://kit.fontawesome.com/6b22c9e604.js" crossorigin="anonymous"></script> <!-- Enlace de fontawesome -->
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
    <body>
        <script async>
            document.body.onload = getProductos();
        </script>
    </body>
</html>